{% extends "base.html" %}
{% block content %}
    <div id="main" >
        <h1> Chemistry Lab 2019</h1>

        <p>
            Throughout Fall Semester 2019, I have completed multiple chemistry based experiments in the laboratory.
            This website was created to record the results of those labs, to allow for further review and study.
        </p>
        <p>
            Each lab report posted describes the goal of the experiment, the theory behind the procedure, and step by step
            instructions to carry out an identical experiment. The data and results are discussed and analyzed for possible
            sources of error that may have impacted the conclusions reached.
        </p>
    </div>


{% endblock %}
